@model dynamic

@{
    ViewBag.Title = "Search Results";
}

<h2>Search Results</h2>

<ul id="results">
    <!-- ko foreach: words -->
    <li>
        <a href="#" data-bind="click: getExpandedTweets, text: word, attr: { href: getExpandedTweetsUrl }"></a>:
        <!--ko text: total --><!--/ko-->
    </li>
    <!-- /ko -->
</ul>

<ul id="expandedTweetResults">
    <!-- ko foreach: tweets -->
    <li>
        <ul>
            <li data-bind="text: 'User.ScreenName:' + TwitterUserId"></li>
            <li data-bind="text: 'User.Text:' + Text"></li>
            <li data-bind="text: 'User.Date:' + CreatedDate"></li>
            <li data-bind="text: 'ID:' + Id"></li>
            <li><a href="#" data-bind="attr: { href: url }">Go to tweet</a></li>
        </ul>
        
    </li>
    <!-- /ko -->
</ul>

<script>
    function viewModel(model) {
        var self = {};
        self.words = ko.observableArray();
        self.tweets = ko.observableArray();
        model.forEach(function (item) {
            self.words.push(word(item));
        });

        self.loadTweets = function (url) {
            $.post(url, function (response) {
                response.forEach(function (item) {
                    self.tweets.push(tweet(item));
                });
            });
        };

        return self;
    };

    function word(item) {
        var self = {};
        self.word = item.word;
        self.total = item.total;

        self.getExpandedTweetsUrl = '@Url.Action("RecentTweets")' + '/' + item.searchId + '?word=' + self.word;

        self.getExpandedTweets = function () {
            viewModel.loadTweets(self.getExpandedTweetsUrl);
        };

        return self;
    }

    function tweet(item) {
        var self = {};
        self.TwitterUserId = item.TwitterUserId;
        self.Text = item.Text;
        self.CreatedDate = item.CreatedDate;
        self.Id = item.Id;
        self.url = "https://twitter.com/" + self.TwitterUserId + "/status/" + self.Id;
        return self;
    }

    var viewModel = new viewModel(@Html.Raw(Json.Encode(Model)));
    ko.applyBindings(viewModel);
</script>