html,body {
    font-family: 'Open Sans', 'Segoe UI', 'Helvetica', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    height: 100%;
}



/* NORMALIZE */



button {
    border: none;
    text-transform: none;
}

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

[class*="button"] {
    padding: 0 1em;
    background: #777;
    font-size: 1em;
    line-height: 2.5em;
    text-decoration: none;
}

    [class*="button"]:hover {
        text-decoration: none;
    }

    [class*="button"]:focus {
        outline: none;
    }

    [class*="button"][class*="-submit"] {
        background: #27ae60;
    }

    [class*="button"][class*="-close"] {
        background: #c0392b;
    }

    [class*="button"][class*="-info"] {
        background: #f39c12;
    }

    [class*="button"][class*="-view"] {
        background: #2980b9;
    }

    [class*="button"][class*="-transparent"] {
        background: transparent;
        color: #444;
    }

        [class*="button"][class*="-transparent"]:hover {
            background: rgba(0,0,0,.1);
        }

    [class*="button"] span {
        display: inline-block;
        vertical-align: top;
        font-size: inherit;
        line-height: inherit;
        color: inherit;
    }

.label {
    margin: 0;
    padding: 0;
}



/* GRID */



.container {
    margin: 0 auto;
    /* max-width: 48rem; */
    width: 90%;
}

    .container.first {
        margin-top: 11.125em;
    }

.row {
    margin-bottom: 1rem;
}

.column {
    float: left;
    margin-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.column.full {
    width: 100%;
}

.column.two-thirds {
    width: 66.7%;
}

.column.half {
    width: 50%;
}

.column.third {
    width: 33.3%;
}

.column.fourth {
    width: 24.95%;
}

.column.flow-opposite {
    float: right;
}

.clearfix:before,.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}



/* CSS CORE */



*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

[class*="link"] {
    text-decoration: none;
}


h1,h2,h3,h4,h5 {
    margin: 0;
    padding: 0 1rem;
    font-family: 'Maven Pro', sans-serif;
    line-height: 1em;
}



/* SITE STYLES */



/* TWITTA HOMEPAGE CONTENT */



[class*="home-wrapper"] {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('/Resources/Content/twitta-bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

    [class*="home-wrapper"]:before {
        content: "";
        position: absolute;
        top: 20.5%;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(222,221,221,.9);
    }

    [class*="home-wrapper"]:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 80%;
        left: 0;
        background: rgba(87,200,239,.75);
    }

    [class*="home-wrapper"] .wrapper-twitta-logo {
        position: absolute;
        z-index: 1;
        top: 20%;
        left: 50%;
        margin: -4em 0 0 -4em;
        background: #fff;
        border-radius: 50%;
        box-shadow: 0 0 0 3px #353535;
        width: 8em;
        height: 8em;
    }

        [class*="home-wrapper"] .wrapper-twitta-logo .twitta-logo {
            margin: 1.5em auto 0 auto;
            background-image: url('/Resources/Content/twitta-logo.svg'), none;
            background-size: 5em 5.125em;
            width: 5em;
            height: 5.125em;
        }

        .wrapper-twitta-logo .twitta-text {
            position: absolute;
            right: 0;
            bottom: -1.5em;
            left: 0;
            font-family: 'Patua One', sans-serif;
            font-size: 1.5em;
            text-align: center;
            color: #353535;
        }

.wrapper-new-search-term {
    transition: all .2s ease-out;
    position: absolute;
    top: 20%;
    left: 50%;
    margin-top: 7.3125em;
    margin-left: -1.25em;
    padding: .25em;
    background: #fff;
    border-radius: 1.25em;
    width: 2.5em;
    height: 2.5em;
}

    .wrapper-new-search-term.active {
        margin-left: -7.5em;
        width: 15em;
    }

    .add-search-option {
        display: inline-block;
        background: #27ae60;
        border-radius: 50%;
        width: 2em;
        height: 2em;
        line-height: 2em;
        text-align: center;
        color: #fff;
    }

        .add-search-option:hover {
            background: #35C472;
            color: #fff;
        }

    .wrapper-new-search-term input {
        display: none;
    }

    .wrapper-new-search-term input.active {
        display: inline-block;
        margin: 0;
        padding: 0 .25em;
        border: none;
        border-left: .125em solid transparent;
        width: 11.5em;
    }

        .wrapper-new-search-term.active input:focus {
            outline: none;
            border-left: .125em solid #27ae60;
        }

    .wrapper-home-search-options {
        position: absolute;
        z-index: 2;
        top: 20%;
        right: 0;
        left: 0;
        margin-top: 11.75em;
    }

.search-result {
    position: relative;
    background: #fff;
    border-radius: 0 0 .5em 0;
    height: 8em;
    word-break: break-all;
}

    .column.fourth:nth-child(1) .search-result {
        box-shadow: 3px 0 0 0 #2980b9;
    }

        .column.fourth:nth-child(1) .search-result .search-result-name:hover {
            background: #2980b9;
        }

    .column.fourth:nth-child(2) .search-result {
        box-shadow: 3px 0 0 0 #4B9FD6;
    }

        .column.fourth:nth-child(2) .search-result .search-result-name:hover {
            background: #4B9FD6;
        }

    .column.fourth:nth-child(3) .search-result {
        box-shadow: 3px 0 0 0 #6BB6E8;
    }
        
        .column.fourth:nth-child(3) .search-result .search-result-name:hover {
            background: #6BB6E8;
        }

    .column.fourth:nth-child(4) .search-result {
        box-shadow: 3px 0 0 0 #95CCF0;
    }

        .column.fourth:nth-child(4) .search-result .search-result-name:hover {
            background: #95CCF0;
        }

    .column.fourth:nth-child(5) .search-result {
        box-shadow: 3px 0 0 0 #BBE1FA;
    }

        .column.fourth:nth-child(5) .search-result .search-result-name:hover {
            background: #BBE1FA;
        }

    .search-result-name {
        display: block;
        padding: 1rem;
        background: rgba(0,0,0,.05);
        font-family: 'Bitter', sans-serif;
        font-size: 1.25em;
        text-decoration: none;
    }

        .search-result-name:hover {
            background: #2980b9;
            color: #fff;
            text-decoration: none;
        }

    .search-result-tweet-number {
        position: absolute;
        right: 1em;
        bottom: 1em;
        display: block;
    }



/* TWITTA SEARCH RESULT PAGE CONTENT */



[class*="header"] {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    left: 0;
    background: #f5f5f5;
    height: 3.5em;
}

    [class*="header"] [class*="home-button"] {
        display: inline-block;
        margin-right: -.25em;
        padding: 0 1em;
        background: #2980b9;
        width: 14em;
        line-height: 3.5em;
    }

        [class*="header"] [class*="home-button"]:hover {
            background: #4B9FD6;
            text-decoration: none;
        }

    [class*="header"] [class*="button"] {
        display: inline-block;
        line-height: 3.5em;
    }

        [class*="home-button"] .wrapper-twitta-logo {
            display: inline-block;
            margin-top: .5em;
            background: #fff;
            border-radius: 50%;
            width: 2.5em;
            height: 2.5em;
        }

            .wrapper-twitta-logo .twitta-logo {
                display: block;
                margin: .3125em auto;
                background-image: url('/Resources/Content/twitta-logo.svg'), none;
                background-size: 1.875em 1.975em;
                width: 1.875em;
                height: 1.975em;
            }

        [class*="home-button"] .label {
            display: inline-block;
            vertical-align: top;
            margin: 0;
            line-height: inherit;
            color: #fff;
        }

        [class*="header-home"] .twitta-text {
            font-family: 'Patua One', sans-serif;
            font-size: 1em;
            text-align: center;
            color: #fff;
        }

.slider-bar {
    position: fixed;
    top: 3.5em;
    right: 0;
    left: 14em;
    padding: 1em 2em;
    background: #fff;
    height: 5.5em;
}

h2.title-keyword-results {
    padding: 1em 0;
}

.wrapper-keywords {
    position: fixed;
    top: 3.5em;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    padding: 1em 0;
    background: #f5f5f5;
    width: 14em;
}

    .keyword-results {
        margin: 0;
        padding: 0;
        list-style: none;
    }

        .keyword-list-item {
            position: relative;
        }

            .keyword-list-item:hover {
                background: #ddd;
            }

            .link-keyword {
                display: block;
                padding: 0 3em 0 1em;
                line-height: 2em;
                white-space: nowrap;
            }

                .link-keyword:hover {
                    text-decoration: none;
                }

            .link-keyword-number {
                position: absolute;
                top: 0;
                right: 0;
                display: block;
                margin-right: 1em;
                background: #f5f5f5;
                width: 1.5em;
                height: 2em;
                line-height: 2em;
                text-align: right;
            }

                .keyword-list-item:hover .link-keyword-number {
                    background: #ddd;
                }

.wrapper-search-content {
    margin: 7.5em 3.5em 3.5em 16em;

}

.keyword-tweets {
    margin: 0;
    padding: 0;
    list-style: none;
}

    .keyword-tweet-list-item {
        overflow: hidden;
        margin-bottom: .75em;
        padding: 1em;
        background: #f5f5f5;
        box-shadow: 0 2px 0 0 rgba(87,200,239,.75);
    }

        .keyword-tweet-list-item span {
            display: block;
            padding: 0 0 1em 0;
        }

        span.tweet-image {
            display: inline-block;
            width: 2em;
            height: 2em;
        }

            .tweet-image img {
                border-radius: 50%;
                width: 100%;
            }

        .tweet-username {
            display: inline-block;
            padding: 0 0 .5em 0;
            color: #2980b9;
        }

        .tweet-text {
            font-size: .875em;
        }

        .tweet-date {
            font-size: .625em;
        }

        .link-to-tweet {
            display: block;
            float: left;
            padding: 0 1em;
            background: #2980b9;
            line-height: 2em;
            color: #fff;
            text-decoration: none;
        }

            .link-to-tweet:hover {
                background: #4B9FD6;
                color: #fff;
                text-decoration: none;
            }