/* GRID */



.container {
    margin: 0 auto;
    /* max-width: 48rem; */
    width: 90%;
}

    .container.first {
        margin-top: 11.125em;
    }

.row {
    margin-bottom: 1rem;
}

.column {
    float: left;
    margin-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.column.full {
    width: 100%;
}

.column.two-thirds {
    width: 66.7%;
}

.column.half {
    width: 50%;
}

.column.third {
    width: 33.3%;
}

.column.fourth {
    width: 24.95%;
}

.column.flow-opposite {
    float: right;
}

.clearfix:before,.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}



/* CSS CORE */



*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

[class*="link"] {
    text-decoration: none;
}


h1,h2,h3,h4,h5 {
    margin: 0;
    padding: 0 1rem;
    font-family: 'Maven Pro', sans-serif;
    line-height: 1em;
}



/* SITE STYLES */



/* TWITTA HOMEPAGE CONTENT */



[class*="home-wrapper"] {
    background: url('../Content/twitta-bg.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: auto;
}

    [class*="home-wrapper"]:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 60%;
        left: 0;
        background: rgba(41,128,185,.75);
    }

    .wrapper-twitta-logo {
        position: absolute;
        top: 40%;
        left: 50%;
        background: #fff;
        border-radius: 50%;
        width: 8em;
        height: 8em;
    }

        .twitta-logo {
            background-image: url(../Content/twitta-logo.svg), none;
            background-size: 5em 5.125em;
            width: 5em;
            height: 5.125em;
        }



/* TWITTA SEARCH RESULT PAGE CONTENT */