@{
    Layout = null;
}

<!DOCTYPE>
<html>
<head>
    <meta charset="utf-8" />
    <title>example</title>
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
</head>
<body>
    <p>
        <label for="amount">Range:</label>
        <input type="text" id="amount" style="border:0; color:#f6931f; font-weight:bold;">
    </p>

    <div id="slider-range"></div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.4.min.js"></script>
    <script>
        $(function () {
            $("#slider-range").slider({
                range: true,
                min: -24,
                max: 0,
                values: [-6, 0],
                slide: function (event, ui) {
                    if (ui.values[0] >= ui.values[1]) {
                        return false;
                    }
                    $("#amount").val(-ui.values[0] + " hours to " + -ui.values[1] + " hours ago");
                }
            });
            $("#amount").val(-$("#slider-range").slider("values", 0) + " hours to " + (-$("#slider-range").slider("values", 1)) + " hours ago");
        });
    </script>
</body>
</html>